{% autoescape off %}
Hello {{ user.first_name }},

We received a request to reset you password for influen$e. To complete the password reset process for your influen$e Account, please click the link below. If you did not make this request, you can ignore this email.

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

(If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.)


Sincerely,
Your friends at influen$e
{% endautoescape %}
